{% extends 'app/base.html' %}
{% load static %}
{% block title %}Home{% endblock title %}
{% block main-content %}


<!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex flex-column justify-content-end align-items-center">
    <div id="heroCarousel" class="container carousel carousel-fade" data-ride="carousel">

      <!-- Slide 1 -->
      <div class="carousel-item active">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">Welcome to <span>Introduction</span></h2>
          <p class="animate__animated fanimate__adeInUp">A.W SONS ADVERTISING IS A FULL-SERVICE MARKETING AGENCY</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <!-- Slide 2 -->
      <div class="carousel-item">
        <div class="carousel-container">
          <h2 class="animate__animated animate__fadeInDown">A.W Sons</h2>
          <p class="animate__animated animate__fadeInUp">Devoted to Advertising Agency Excellence</p>
          <a href="#about" class="btn-get-started animate__animated animate__fadeInUp scrollto">Read More</a>
        </div>
      </div>

      <a class="carousel-control-prev" href="#heroCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon bx bx-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
      </a>

      <a class="carousel-control-next" href="#heroCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon bx bx-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
      </a>

    </div>

    <svg class="hero-waves" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
      viewBox="0 24 150 28 " preserveAspectRatio="none">
      <defs>
        <path id="wave-path" d="M-160 44c30 0 58-18 88-18s 58 18 88 18 58-18 88-18 58 18 88 18 v44h-352z">
      </defs>
      <g class="wave1">
        <use xlink:href="#wave-path" x="50" y="3" fill="rgba(255,255,255, .1)">
      </g>
      <g class="wave2">
        <use xlink:href="#wave-path" x="50" y="0" fill="rgba(255,255,255, .2)">
      </g>
      <g class="wave3">
        <use xlink:href="#wave-path" x="50" y="9" fill="#fff">
      </g>
    </svg>

  </section><!-- End Hero -->

  <main id="main">
`` 
    <!-- ======= About Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>About</h2>
          <p>Who we are</p>
        </div>

        <div class="row content" data-aos="fade-up">
          <div class="col-lg-6">
            <p>
              We are the students of BSCS at COMSATS University Islamabad, Sahiwal Campus. We are working on a website of Billboard Management
              System, as a website developers which help us to improve our skills and will give access to our customer.
            </p>
            <ul>
              <li><i class="ri-check-double-line"></i>Name :Usama Iqbal</li>
              <li><i class="ri-check-double-line"></i>Reg. NO:Fa18-BCS-091 </li>
              <li><i class="ri-check-double-line"></i>Phone NO. +92 331 10 61 582</li>
              <li><i class="ri-check-double-line"></i>COMSATS University Islamabad,Sahiwal Campus</li>
              <li><i class="ri-check-double-line"></i>Address: Usama General Store, Sahiwal</li>
            </ul>
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <p>
              Here following, you can read our more details
            </p>
            <a href="https://www.facebook.com/Innovative-Tech-106804187646380/?ref=pages_you_manage" class="btn-learn-more">Learn More</a>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Cta Section ======= -->
    <section id="cta" class="cta">
      <div class="container">

        <div class="row" data-aos="zoom-out">
          <div class="col-lg-9 text-center text-lg-left">
            <div>
              <!--2.1 div-->
              <div
                style="border: 0px solid rgb(238, 243, 245);padding: 10px;; width:500px;float: left;margin-right:0px; height:50px;">

              </div>

              <!--div  2.2-->

              <div
                style="border: 0px solid rgb(231, 227, 227);padding: 8px; width: 500px;float:right;margin-left:0pxs;margin-right:200px ; height:100px;">

                <div class="col-lg-3 cta-btn-container text-center"></div>
                <a class="cta-btn align-middle">Education</a>

              </div>

              <!--div 2.2.1-educaton--->

              <div
                style="border: 0px solid rgb(238, 243, 245); width:500px; margin: 10px; float:right;margin-right:200px;padding:10px; height:170px;">





                <div
                  style="border: 0px solid white; margin-right:0px;float:right;width:300px;height:160px;padding:5 px;">

                  <h3 style="color:white;">COMSATS University Islamabad, Sahiwal Campus</h3>
                  <span style="color: rgb(231, 166, 44) ;"><b>Computer Science</b></span>

                  <P style="color: rgb(225, 233, 238);">Student of 6th semester.</P>
                </div>
                <h3 style="color:white;"> 2018-22</h3>

              </div>










              <!--div 2.2.3- educaton--->

              <div
                style="border:0px  solid rgb(238, 243, 245); width:500px; margin: 10px; float:right;margin-right:200px; padding:10px;height:170px;">
                <div style="border:0px; margin-right:0px;float:right;width:300px;height:160px;padding:5 px;">

                  <h3 style="color:white;">Intermediate</h3>
                  <span style="color: rgb(231, 166, 44) ;"><b>FSC (Pre-Engeenring)</b></span>

                  <P style="color: rgb(225, 233, 238);">From Govt. Postgraduate College Sahiwal.</P>
                </div>

                <h3 style="color:white;"> 2016-18</h3>

              </div>





              <!--div 2.2.4 education-->

              <div
                style="border: 0px solid rgb(238, 243, 245); width:500px; margin: 10px; float:right;margin-right:200px;padding:10px; height:170px;">
                <div
                  style="border: 0px solid white; margin-right:0px;float:right;width:300px;height:160px;padding:5 px;">

                  <h3 style="color:white;">Matric</h3>
                  <span style="color: rgb(231, 166, 44) ;"><b>Biology, Mathematics, Physics, Chemistry</b></span>

                  <P style="color: rgb(225, 233, 238);">From Allied School Sahiwal</P>
                </div>

                <h3 style="color:white;"> 2014-16</h3>


              </div>


            </div>

          </div>
          <!-- <h3>Call To Action</h3>
            <p> Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
          </div>
           <div class="col-lg-3 cta-btn-container text-center">
            <a class="cta-btn align-middle" href="#">Call To Action</a>
          </div> -->
        </div>

      </div>
    </section><!-- End Cta Section -->

    <!-- ======= Services Section ======= -->
    <section id="services" class="services">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Services</h2>
          <p>What we offer</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="icon-box" data-aos="zoom-in-left">
              <div class="icon"><i class="las la-basketball-ball" style="color: #ff689b;"></i></div>
              <h4 class="title"><a href="">Billboard</a></h4>
              <p class="description">Voluptatum deleniti atque corrupti quos dolores et quas molestias excepturi sint
                occaecati cupiditate non provident</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5 mt-md-0">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="100">
              <div class="icon"><i class="las la-book" style="color: #e9bf06;"></i></div>
              <h4 class="title"><a href="">Back lit—Front lit</a></h4>
              <p class="description">Minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                commodo consequat tarad limino ata</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5 mt-lg-0 ">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="200">
              <div class="icon"><i class="las la-file-alt" style="color: #3fcdc7;"></i></div>
              <h4 class="title"><a href="">Cutout Displays</a></h4>
              <p class="description">Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu
                fugiat nulla pariatur</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="300">
              <div class="icon"><i class="las la-tachometer-alt" style="color:#41cf2e;"></i></div>
              <h4 class="title"><a href="">Vehicle Floats</a></h4>
              <p class="description">Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt
                mollit anim id est laborum</p>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="400">
              <div class="icon"><i class="las la-globe-americas" style="color: #d6ff22;"></i></div>
              <h4 class="title"><a href="">Streamers</a></h4>
              <p class="description">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                praesentium voluptatum deleniti atque</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-6 mt-5">
            <div class="icon-box" data-aos="zoom-in-left" data-aos-delay="500">
              <div class="icon"><i class="las la-clock" style="color: #4680ff;"></i></div>
              <h4 class="title"><a href="">3D Signs</a></h4>
              <p class="description">Et harum quidem rerum facilis est et expedita distinctio. Nam libero tempore, cum
                soluta nobis est eligendi</p>
            </div>
          </div>
        </div>

      </div>
    </section>
    <!-- End Services Section -->

    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Portfolio</h2>
          <p>our previous work</p>
        </div>

        <ul id="portfolio-flters" class="d-flex justify-content-end" data-aos="fade-up">
          <li data-filter="*" class="filter-active">All</li>
          <li data-filter=".filter-app">App</li>
          <li data-filter=".filter-card">Card</li>
          <li data-filter=".filter-web">Web</li>
        </ul>

        <div class="row portfolio-container" data-aos="fade-up">

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="assets/img/portfolio/21.jpg" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 1</h4>
              <p>App</p>
              <a href="assets/img/portfolio/21.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="App 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/22.jpg' %} " class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/22.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/23.jpg' %} " class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 2</h4>
              <p>App</p>
              <a href="assets/img/portfolio/23.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="App 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/25.jpg' %} " class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 2</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/25.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 2"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-app">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/26.jpg' %} " class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>App 3</h4>
              <p>App</p>
              <a href="assets/img/portfolio/26.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="App 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/27.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 1</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/27.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Card 1"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-card">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/28.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Card 3</h4>
              <p>Card</p>
              <a href="assets/img/portfolio/28.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Card 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 portfolio-item filter-web">
            <div class="portfolio-img"><img src="{% static 'assets/img/portfolio/29.jpg' %}" class="img-fluid" alt=""></div>
            <div class="portfolio-info">
              <h4>Web 3</h4>
              <p>Web</p>
              <a href="assets/img/portfolio/29.jpg" data-gall="portfolioGallery" class="venobox preview-link"
                title="Web 3"><i class="bx bx-plus"></i></a>
              <a href="portfolio-details.html" class="details-link" title="More Details"><i class="bx bx-link"></i></a>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Portfolio Section -->

    <!-- ======= Testimonials Section ======= -->
    <section id="testimonials" class="testimonials">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Testimonials</h2>
          <p>What they are saying about us</p>
        </div>

        <div class="owl-carousel testimonials-carousel" data-aos="fade-up">

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I am very satisfying for your work, my product Advertisement shown on your Billboard looks very attractive.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/121.jpg' %}" class="testimonial-img" alt="">
            <h3>Muhammad Usama</h3>
            <h4>Designer &amp; Developer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I am happy to tell you, my product is now popular and in demand for best Advertisement on your Billboard.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/122.jpg' %}" class="testimonial-img" alt="">
            <h3>Shahzad Zafar</h3>
            <h4>Developer</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I am a student, I am now stable, my product advertisement on your Billboard that's gone viral now.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/123.jpg' %}" class="testimonial-img" alt="">
            <h3>Abdul Wahab</h3>
            <h4>Student</h4>
          </div>

          <div class="testimonial-item">
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              For your agency, my freelancing career is very good, this is all about your work that you give to me.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
            <img src="{% static 'assets/img/testimonials/testimonials-4.jpg' %}" class="testimonial-img" alt="">
            <h3>Matt Brandon</h3>
            <h4>Freelancer</h4>
          </div>

        </div>

      </div>
    </section><!-- End Testimonials Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Pricing</h2>
          <p>Our Competing Prices</p>
        </div>

        <div class="row">

          <div class="col-lg-3 col-md-6">
            <div class="box" data-aos="zoom-in">
              <h3>per day</h3>
              <h4><sup>Rs.</sup>500<span> /Sq. feet</span></h4>
              <ul>
                <li class="na">Front lit</li>
                <li class="na">Back lit</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
              <div class="btn-wrap">
                <a href="#" class="btn-cart">Add to cart</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-md-0">
            <div class="box featured" data-aos="zoom-in" data-aos-delay="100">
              <h3>per week</h3>
              <h4><sup>Rs.</sup>450<span> / Sq. feet</span></h4>
              <ul>
                <li>Front lit</li>
                <li class="na">Back lit</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
              <div class="btn-wrap">
                <a href="#" class="btn-cart">Add to cart</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="200">
              <h3>per half month</h3>
              <h4><sup>Rs.</sup>400<span> / Sq. feet</span></h4>
              <ul>
                <li>Front lit</li>
                <li>Back lit</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
              <div class="btn-wrap">
                <a href="#" class="btn-cart">Add to cart</a>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="300">
              <span class="advanced">Advanced</span>
              <h3>per month</h3>
              <h4><sup>Rs.</sup>350<span> / Sq. feet</span></h4>
              <ul>
                <li>Front lit</li>
                <li>Back lit</li>
              </ul>
              <div class="btn-wrap">
                <a href="#" class="btn-buy">Buy Now</a>
              </div>
              <div class="btn-wrap">
                <a href="#" class="btn-cart">Add to cart</a>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Pricing Section -->
    
    <!-- ======= Team Section ======= -->
    <section id="team" class="team">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Team</h2>
          <p>Our Hardworking Team</p>
        </div>

        <div class="row">

          

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up">
              <div class="member-img">
                <img src="{% static 'assets/img/team/usama.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href="https://twitter.com/UsamaIq55762683"><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/hafiz.usamaiqbal.3"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/usama_iqbal_82/"><i class="icofont-instagram"></i></a>
                  <a href="https://www.linkedin.com/in/usama-iqbal-068763194/"><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Usama Iqbal</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>

          <div class="col-lg-3 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="fade-up" data-aos-delay="100">
              <div class="member-img">
                <img src="{% static 'assets/img/team/gul.jpg' %}" class="img-fluid" alt="">
                <div class="social">
                  <a href=""><i class="icofont-twitter"></i></a>
                  <a href="https://www.facebook.com/gulzaman.khan.3958"><i class="icofont-facebook"></i></a>
                  <a href="https://www.instagram.com/gulzaman._khan/"><i class="icofont-instagram"></i></a>
                  <a href=""><i class="icofont-linkedin"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Gulzaman</h4>
                <span>Developer</span>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container">

        <div class="section-title" data-aos="zoom-out">
          <h2>Contact</h2>
          <p>Contact Us</p>
        </div>

        <div class="row mt-5">

          <div class="col-lg-4" data-aos="fade-right">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>Usama General Store, 82/6-R, Sahiwal.</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>usamaiqbal74354@gmail.com.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>+92 331 10 61 582</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0" data-aos="fade-left">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name"
                    data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email"
                    data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject"
                  data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required"
                  data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->





      
  
    </main><!-- End #main -->
    {% endblock main-content %}
